@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-5 text-center my-5">Welcome</h1>

<div class="text-center mt-5">
    <p>This is my Okta playground.</p>
    <p><a href="https://developer.okta.com/docs/guides/embedded-siw/main/">Okta Embedded Widget docs</a></p>
    <p><a href="https://github.com/okta/okta-signin-widget#api-reference">Okta Embedded Widget reference</a></p>
    <p><a href="https://github.com/okta/okta-auth-js#api-reference">Okta Auth JS reference</a></p>
</div>
